<%- include ('partials/header.ejs') %>
  <div>
    <div class="innerboxt" style="overflow: hidden;">
      <div class="inntoinn">
        <h1 style="
           text-align: center;
           font-family: Lora;
           font-weight: 900;
           font-size: 2.6rem;
           overflow: hidden;
         ">
          Tasks
        </h1>
        <hr>
        <br>
        <div class="row">
          <% count=0 %>
            <% if(tasks.length===0) {%>
              <h2>Tasks will be announced soon :)</h2>

              <% }else{%>
                <% tasks.forEach(function(task){%>
                  <div class="col-lg-6">
                    <div class="card d-flex-row mx-0 my-3">
                      <div class="card-body m-3">
                        <h5 class="card-title"><strong>
                            <h3 style="font-weight: 900;">
                              <%= task.taskname%>
                            </h3>
                          </strong></h5>
                        <p class="card-text" style="font-weight:400">
                          <%= task.taskdescription%>
                        </p>
                      </div>
                      <% switch (count){ case 0 : %>
                        <ul class="list-group list-group-flush">
                          <div class="d-flex">
                            <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                              <%if (user.task0[0]){%><span class="btn btn-success">Completed<%}else{%><span
                                      class="btn btn-danger">Not
                                      Completed</span>
                                    <%}%>
                            </li>
                          </div>
                          <li class="btn btn-warning p-2"><strong>Points : <%if (user.task0[1]){%>
                                <%= user.task0[1]%>
                                  <%}else{%>0
                                    <%}%>/ <%=task.taskpoints%></strong>
                          </li>
                        </ul>
                        <% ;break; %>
                          <% case 1 : %>
                            <ul class="list-group list-group-flush">
                              <div class="d-flex">
                                <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                                  <%if (user.task1[0]){%><span class="btn btn-success">Completed<%}else{%><span
                                          class="btn btn-danger">Not
                                          Completed</span>
                                        <%}%>
                                </li>
                              </div>
                              <li class="btn btn-warning p-2"><strong>Points : <%if (user.task1[1]){%>
                                    <%= user.task1[1]%>
                                      <%}else{%>0
                                        <%}%>/ <%=task.taskpoints%></strong>
                              </li>
                            </ul>
                            <% ;break; %>
                              <% case 2 : %>
                                <ul class="list-group list-group-flush">
                                  <div class="d-flex">
                                    <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                                      <%if (user.task2[0]){%><span class="btn btn-success">Completed<%}else{%><span
                                              class="btn btn-danger">Not
                                              Completed</span>
                                            <%}%>
                                    </li>
                                  </div>
                                  <li class="btn btn-warning p-2"><strong>Points : <%if (user.task2[1]){%>
                                        <%= user.task2[1]%>
                                          <%}else{%>0
                                            <%}%>/ <%= task.taskpoints%></strong>
                                  </li>
                                </ul>
                                <% ;break; %>
                                  <% case 3 : %>
                                    <ul class="list-group list-group-flush">
                                      <div class="d-flex">
                                        <li class="list-group-item m-3 d-flex align-center mx-auto"
                                          style="border: none;">
                                          <%if (user.task3[0]){%><span class="btn btn-success">Completed<%}else{%><span
                                                  class="btn btn-danger">Not
                                                  Completed</span>
                                                <%}%>
                                        </li>
                                      </div>
                                      <li class="btn btn-warning p-2"><strong>Points : <%if (user.task3[1]){%>
                                            <%= user.task3[1]%>
                                              <%}else{%>0
                                                <%}%>/ <%= task.taskpoints%></strong>
                                      </li>
                                    </ul>
                                    <% ;break; %>
                                      <% case 4 : %>
                                        <ul class="list-group list-group-flush">
                                          <div class="d-flex">
                                            <li class="list-group-item m-3 d-flex align-center mx-auto"
                                              style="border: none;">
                                              <%if (user.task4[0]){%><span class="btn btn-success">Completed<%}else{%>
                                                    <span class="btn btn-danger">Not
                                                      Completed</span>
                                                    <%}%>
                                            </li>
                                          </div>
                                          <li class="btn btn-warning p-2"><strong>Points : <%if (user.task4[1]){%>
                                                <%= user.task4[1]%>
                                                  <%}else{%>0
                                                    <%}%>/ <%= task.taskpoints%></strong>
                                          </li>
                                        </ul>
                                        <% ;break; %>
                                          <% case 5 : %>
                                            <ul class="list-group list-group-flush">
                                              <div class="d-flex">
                                                <li class="list-group-item m-3 d-flex align-center mx-auto"
                                                  style="border: none;">
                                                  <%if (user.task5[0]){%><span class="btn btn-success">Completed
                                                      <%}else{%>
                                                        <span class="btn btn-danger">Not
                                                          Completed</span>
                                                        <%}%>
                                                </li>
                                              </div>
                                              <li class="btn btn-warning p-2"><strong>Points : <%if (user.task5[1]){%>
                                                    <%= user.task5[1]%>
                                                      <%}else{%>0
                                                        <%}%>/ <%= task.taskpoints%></strong>
                                              </li>
                                            </ul>
                                            <% ;break; %>
                                              <% case 6 : %>
                                                <ul class="list-group list-group-flush">
                                                  <div class="d-flex">
                                                    <li class="list-group-item m-3 d-flex align-center mx-auto"
                                                      style="border: none;">
                                                      <%if (user.task6[0]){%><span class="btn btn-success">Completed
                                                          <%}else{%><span class="btn btn-danger">Not
                                                              Completed</span>
                                                            <%}%>
                                                    </li>
                                                  </div>
                                                  <li class="btn btn-warning p-2"><strong>Points : <%if
                                                        (user.task6[1]){%>
                                                        <%= user.task6[1]%>
                                                          <%}else{%>0
                                                            <%}%>/ <%= task.taskpoints%></strong>
                                                  </li>
                                                </ul>
                                                <% ;break; %>
                                                  <% case 7 : %>
                                                    <ul class="list-group list-group-flush">
                                                      <div class="d-flex">
                                                        <li class="list-group-item m-3 d-flex align-center mx-auto"
                                                          style="border: none;">
                                                          <%if (user.task7[0]){%><span class="btn btn-success">Completed
                                                              <%}else{%><span class="btn btn-danger">Not
                                                                  Completed</span>
                                                                <%}%>
                                                        </li>
                                                      </div>
                                                      <li class="btn btn-warning p-2"><strong>Points : <%if
                                                            (user.task7[1]){%>
                                                            <%= user.task7[1]%>
                                                              <%}else{%>0
                                                                <%}%>/ <%= task.taskpoints%></strong>
                                                      </li>
                                                    </ul>
                                                    <% ;break; %>
                                                      <% case 8 : %>
                                                        <ul class="list-group list-group-flush">
                                                          <div class="d-flex">
                                                            <li class="list-group-item m-3 d-flex align-center mx-auto"
                                                              style="border: none;">
                                                              <%if (user.task8[0]){%><span
                                                                  class="btn btn-success">Completed
                                                                  <%}else{%><span class="btn btn-danger">Not
                                                                      Completed</span>
                                                                    <%}%>
                                                            </li>
                                                          </div>
                                                          <li class="btn btn-warning p-2"><strong>Points : <%if
                                                                (user.task8[1]){%>
                                                                <%= user.task8[1]%>
                                                                  <%}else{%>0
                                                                    <%}%>/ <%= task.taskpoints%></strong>
                                                          </li>
                                                        </ul>
                                                        <% ;break; %>
                                                          <% case 9 : %>
                                                            <ul class="list-group list-group-flush">
                                                              <div class="d-flex">
                                                                <li
                                                                  class="list-group-item m-3 d-flex align-center mx-auto"
                                                                  style="border: none;">
                                                                  <%if (user.task9[0]){%><span
                                                                      class="btn btn-success">Completed<%}else{%><span
                                                                          class="btn btn-danger">Not
                                                                          Completed</span>
                                                                        <%}%>
                                                                </li>
                                                              </div>
                                                              <li class="btn btn-warning p-2"><strong>Points : <%if
                                                                    (user.task9[1]){%>
                                                                    <%= user.task9[1]%>
                                                                      <%}else{%>0
                                                                        <%}%>/ <%= task.taskpoints%></strong>
                                                              </li>
                                                            </ul>
                                                            <% ;break; %>
                                                              <%}%>


                                                                <% count+=1;%>
                    </div>
                  </div>


                  <%})%>
                    <% } %>
                      <!--       <div class="col-lg-6">

            <div class="card d-flex-row mx-0 my-3">
              <div class="card-body m-3">
                <h5 class="card-title"><strong>
                    <h3 style="font-weight: 900;">Instagram</h3>
                  </strong></h5>
                <p class="card-text" style="font-weight:400">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ipsam eius ex doloremque ipsa dicta
                  velit. Consdscujksdcdskdjcnsdkjcbiuv sdcjskducsuhdici sudichsdiucs scusidhcsidu
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <div class="d-flex">
                  <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                    <%if (user.task0[0]){%><span class="btn btn-success">Completed<%}else{%><span
                            class="btn btn-danger">Not
                            Completed</span>
                          <%}%>
                  </li>
                </div>
                <li class="btn btn-warning p-2"><strong>Points : <%if (user.task0[1]){%>
                      <%= user.task0[1]%>
                        <%}else{%>0
                          <%}%></strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card d-flex-row mx-0 my-3">
              <div class="card-body m-3">
                <h5 class="card-title"><strong>
                    <h3 style="font-weight: 900;">Instagram</h3>
                  </strong></h5>
                <p class="card-text" style="font-weight:400">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ipsam eius ex doloremque ipsa dicta
                  velit. Consdscujksdcdskdjcnsdkjcbiuv sdcjskducsuhdici sudichsdiucs scusidhcsidu
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <div class="d-flex">
                  <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                    <%if (user.task1[0]){%><span class="btn btn-success">Completed<%}else{%><span
                            class="btn btn-danger">Not
                            Completed</span>
                          <%}%>
                  </li>
                </div>
                <li class="btn btn-warning p-2"><strong>Points : <%if (user.task1[1]){%>
                      <%= user.task1[1]%>
                        <%}else{%> 0
                          <%}%></strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card d-flex-row mx-0 my-3">
              <div class="card-body m-3">
                <h5 class="card-title"><strong>
                    <h3 style="font-weight: 900;">Instagram</h3>
                  </strong></h5>
                <p class="card-text" style="font-weight:400">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ipsam eius ex doloremque ipsa dicta
                  velit. Consdscujksdcdskdjcnsdkjcbiuv sdcjskducsuhdici sudichsdiucs scusidhcsidu
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <div class="d-flex">
                  <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                    <%if (user.task2[0]){%><span class="btn btn-success">Completed<%}else{%><span
                            class="btn btn-danger">Not
                            Completed</span>
                          <%}%>
                  </li>
                </div>
                <li class="btn btn-warning p-2"><strong>Points : <%if (user.task2[1]){%>
                      <%= user.task2[1]%>
                        <%}else{%>0
                          <%}%></strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card d-flex-row mx-0 my-3">
              <div class="card-body m-3">
                <h5 class="card-title"><strong>
                    <h3 style="font-weight: 900;">Instagram</h3>
                  </strong></h5>
                <p class="card-text" style="font-weight:400">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ipsam eius ex doloremque ipsa dicta
                  velit. Consdscujksdcdskdjcnsdkjcbiuv sdcjskducsuhdici sudichsdiucs scusidhcsidu
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <div class="d-flex">
                  <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                    <%if (user.task3[0]){%><span class="btn btn-success">Completed<%}else{%><span
                            class="btn btn-danger">Not
                            Completed</span>
                          <%}%>
                  </li>
                </div>
                <li class="btn btn-warning p-2"><strong>Points : <%if (user.task3[1]){%>
                      <%= user.task3[1]%>
                        <%}else{%>0
                          <%}%></strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card d-flex-row mx-0 my-3">
              <div class="card-body m-3">
                <h5 class="card-title"><strong>
                    <h3 style="font-weight: 900;">Instagram</h3>
                  </strong></h5>
                <p class="card-text" style="font-weight:400">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ipsam eius ex doloremque ipsa dicta
                  velit. Consdscujksdcdskdjcnsdkjcbiuv sdcjskducsuhdici sudichsdiucs scusidhcsidu
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <div class="d-flex">
                  <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                    <%if (user.task4[0]){%><span class="btn btn-success">Completed<%}else{%><span
                            class="btn btn-danger">Not
                            Completed</span>
                          <%}%>
                  </li>
                </div>
                <li class="btn btn-warning p-2"><strong>Points : <%if (user.task4[1]){%>
                      <%= user.task4[1]%>
                        <%}else{%>0
                          <%}%></strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card d-flex-row mx-0 my-3">
              <div class="card-body m-3">
                <h5 class="card-title"><strong>
                    <h3 style="font-weight: 900;">Instagram</h3>
                  </strong></h5>
                <p class="card-text" style="font-weight:400">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ipsam eius ex doloremque ipsa dicta
                  velit. Consdscujksdcdskdjcnsdkjcbiuv sdcjskducsuhdici sudichsdiucs scusidhcsidu
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <div class="d-flex">
                  <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                    <%if (user.task5[0]){%><span class="btn btn-success">Completed<%}else{%><span
                            class="btn btn-danger">Not
                            Completed</span>
                          <%}%>
                  </li>
                </div>
                <li class="btn btn-warning p-2"><strong>Points : <%if (user.task5[1]){%>
                      <%= user.task5[1]%>
                        <%}else{%>0
                          <%}%></strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card d-flex-row mx-0 my-3">
              <div class="card-body m-3">
                <h5 class="card-title"><strong>
                    <h3 style="font-weight: 900;">Instagram</h3>
                  </strong></h5>
                <p class="card-text" style="font-weight:400">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ipsam eius ex doloremque ipsa dicta
                  velit. Consdscujksdcdskdjcnsdkjcbiuv sdcjskducsuhdici sudichsdiucs scusidhcsidu
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <div class="d-flex">
                  <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                    <%if (user.task6[0]){%><span class="btn btn-success">Completed<%}else{%><span
                            class="btn btn-danger">Not
                            Completed</span>
                          <%}%>
                  </li>
                </div>
                <li class="btn btn-warning p-2"><strong>Points : <%if (user.task6[1]){%>
                      <%= user.task6[1]%>
                        <%}else{%>0
                          <%}%></strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card d-flex-row mx-0 my-3">
              <div class="card-body m-3">
                <h5 class="card-title"><strong>
                    <h3 style="font-weight: 900;">Instagram</h3>
                  </strong></h5>
                <p class="card-text" style="font-weight:400">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ipsam eius ex doloremque ipsa dicta
                  velit. Consdscujksdcdskdjcnsdkjcbiuv sdcjskducsuhdici sudichsdiucs scusidhcsidu
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <div class="d-flex">
                  <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                    <%if (user.task7[0]){%><span class="btn btn-success">Completed<%}else{%><span
                            class="btn btn-danger">Not
                            Completed</span>
                          <%}%>
                  </li>
                </div>
                <li class="btn btn-warning p-2"><strong>Points : <%if (user.task7[1]){%>
                      <%= user.task7[1]%>
                        <%}else{%>0
                          <%}%></strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card d-flex-row mx-0 my-3">
              <div class="card-body m-3">
                <h5 class="card-title"><strong>
                    <h3 style="font-weight: 900;">Instagram</h3>
                  </strong></h5>
                <p class="card-text" style="font-weight:400">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ipsam eius ex doloremque ipsa dicta
                  velit. Consdscujksdcdskdjcnsdkjcbiuv sdcjskducsuhdici sudichsdiucs scusidhcsidu
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <div class="d-flex">
                  <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                    <%if (user.task8[0]){%><span class="btn btn-success">Completed<%}else{%><span
                            class="btn btn-danger">Not
                            Completed</span>
                          <%}%>
                  </li>
                </div>
                <li class="btn btn-warning p-2"><strong>Points : <%if (user.task8[1]){%>
                      <%= user.task8[1]%>
                        <%}else{%>0
                          <%}%></strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">

            <div class="card d-flex-row mx-0 my-3">
              <div class="card-body m-3">
                <h5 class="card-title"><strong>
                    <h3 style="font-weight: 900;">Instagram</h3>
                  </strong></h5>
                <p class="card-text" style="font-weight:400">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod qui ipsam eius ex doloremque ipsa dicta
                  velit. Consdscujksdcdskdjcnsdkjcbiuv sdcjskducsuhdici sudichsdiucs scusidhcsidu
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <div class="d-flex">
                  <li class="list-group-item m-3 d-flex align-center mx-auto" style="border: none;">
                    <%if (user.task9[0]){%><span class="btn btn-success">Completed<%}else{%><span
                            class="btn btn-danger">Not
                            Completed</span>
                          <%}%>
                  </li>
                </div>
                <li class="btn btn-warning p-2"><strong>Points : <%if (user.task9[1]){%>
                      <%= user.task9[1]%>
                        <%}else{%>0
                          <%}%></strong>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <%- include ('partials/footer.ejs') %>